@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eee;
  --color:#000
}


body {
  color: var(--color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
